
.logo {
    margin-left: 20px;
}
.Kumenu{
    margin-right: 20px;
}
.listMenu{
    margin-right: 20px;
}
#listDokter{
    margin: 20px;
    margin-top: 40px;
    margin-left: 40px;
}
.slide{
    height: 500px;
}
.judulAtas{
    margin-top: 100px;
    margin-left: 50px;
}
.textjudul{
    font-size: 50px;
}
.imgJudul{
    margin-left: 100px;
}
.atasan{
    margin-left: 40px;
}