* {
    margin: 0;
    padding: 0;
}

.logo {
    margin-left: 20px;
}
.listMenu{
    margin-right: 20px;
}

.btn{
    font-size: 18px
}

.button{
    background-color:#FFCB42;
    border-radius: 5px;
    font-size: 20px;
}

.banner{
    background-image: url('./image/health-still-life-with-copy-space.jpg');
    background-size: cover;
    height: 100vh;
    padding-top:150px;
    padding-left: 350px;
    padding-bottom: 100px;
    color:#000;
    font-family:serif;
}

h4{
    color:#000;
    font-weight: bold;
}

h5{
    font-weight: bold;
    font-size: 20x;
}

p{
    font-size: 20px;
}

button{
    font-size:20px;
}

h1{
    font-size:50px;
}

.crop-img{
    object-fit:cover; 
}

.btn{
    background-color:#FFCB42;
    border-radius: 25px;
}
